@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap');
/* Variables */
:root {
  --title-text: #222222;
  --primary-text: #414bb6;
  --text: #7A7A7A;
  --button-primary: #505BE0;
  --button-secondary: #61CE70;
  --white: #fff;
  --off-white: rgb(250, 249, 246);
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--off-white);
  background: linear-gradient(to right, #414bb6, #505BE0);
}

.app {
  width: 70vw;
  font-family: Mulish, monospace;
  background: var(--white);
  color: var(-text);
  padding: 20px;
  border-radius: 8px;
  filter: 
    drop-shadow(hsl(235, 50%, 40%) 3px 3px 6px)
    drop-shadow(hsl(235, 50%, 40%) 5px 5px 10px)
    drop-shadow(hsl(235, 50%, 40%) 8px 8px 16px)
  ;
}
/* TITLE */
.secondary {
  color: var(--primary-text);
}

/* GENERATOR */
textarea {
  width: 90%;
  height: 250px;
  padding: 10px;
  border: 1px solid var(--text);
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5rem;
  border-radius: 6px;
  font-family: Mulish, monospace;
  resize: none;
}

button {
  background-color: var(--button-primary);
  color: var(--white);
  font-size: 19px;
  font-weight: 700;
  border-radius: 6px;
  margin: 10px 0 10px 0;
  padding: 18px 33px;
  border: none;
}